<section class="header">
    <nav>
        <ul class="ul nav-items">
            <li>Home</li>
            <li>Movies</li>
            <li>TV Series</li>
            <li>Most Popular</li>
            <li>Top Airing</li>
        </ul>
    </nav>
</section>
<section class="login-body">


    <video class="bg-video" autoplay muted loop playsinline>
        <source src="./../../assets/bg.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>

      <div class="login-content">
        <h1>AniBlaze</h1>
        <div class="search-inp">
            <input type="text" placeholder="Search anime...">
            <button>
                Search
            </button>
          </div>
          <p> <strong>Top Search :</strong> search:One PieceSolo Leveling Season 2: Arise from the ShadowThe Apothecary Diaries Season 2Wind Breaker Season 2Fire Force Season 3Attack on TitanPlease Put Them On, Takamine-san [UNCENSORED]To Be Hero XSolo LevelingFire Force
          </p>

          <div class="action-btn">
            <button>Watch Now</button>
          </div>
      </div>
     
    
</section>

